html{
    --text-color: #FFACC4;
    --info-back:#E5E5E5;
    --link:#FF004C;
    --text-label:#A1A3A7;
    --text-label-input3:#FF1E1E;
}
form {
    width: 100%;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    height: 768px;
}
.container-form{
    width: 796px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 128px 238px 172px;
}
img.logo {
    position: relative;
    top: 24px;
    left: 105px;
    right: 330px;
    bottom: 80px;
    margin-bottom: 80px;
    height: 68px;
    width: 136px;
}
.main-text {
    position: relative;
    width: 276px;
}
.main-text h1 {
    font-weight: 700;
    height: 38px;
    font-size: 32px;
    margin: 0;
    position: relative;
    z-index: 1;
}
.line {
    position: absolute;
    width: 113px;
    height: 12px;
    left: 52px;
    right: 111px;
    top: 22px;
    bottom: 4px;
    background-color: var(--text-color);
}
.container-info{
    background-image: url('./img/Background.png');
    width: calc(1360px - 796px);
    background-color: var(--info-back);
    background-position: bottom 26px left -15px;
}
.text {
    width: 452px;
    height: 48px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.text a {
    font-weight: 400;
    font-size: 16px;
    color: var(--link);
}
.label{
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-label);
}
.nameInput,
.nameInput2,
.nameInput3 {
    width: 232px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    padding: 3px;
}
/* .nameInput {
    margin-right: 32px;
} */
.nameInput3 {
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #FF1E1E;
    padding: 0;
}
.btn-form {
    margin-top: 56px;
    width: 180px;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: var(--link);
    border-radius: 24px;
    outline: none;
}
.first-name,
.second-name {
    border-bottom: 2px solid #A1A3A7;
    display: inline-block;
}
/* .first-name:focus{
    outline-b: 2px solid #000000;
} */
/* .nameInput:focus{
    border-bottom: 2px solid #000000; */
    /* transition: 2s; */
/* } */
.form-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}